<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFApp_Electronic_Scale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WFApp_Electronic_Scale.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>WeightScaleDB</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="UseWindowsAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveWeight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultWeightUnit" serializeAs="String">
                <value>KG</value>
            </setting>
            <setting name="MaxHistoryRecords" serializeAs="String">
                <value>100000000</value>
            </setting>
            <setting name="LogDatabaseOperations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>Tartim2</value>
            </setting>
        </WFApp_Electronic_Scale.Properties.Settings>
    </userSettings>
</configuration>